* {box-sizing: border-box}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #193634;
}

.btn-group .button{
    background-color: ;
    border: none;
    color: #3a6562;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}

.tablink .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    color: white;
    display: none;
    padding: 10px 20px;
    height: 100%;
}

h3 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    color: #C4A484;
   }

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.phome {
    text-align: center;
    font-size: 26px;
}

.aboutme {
    text-align: center;
    font-size: 26px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
